//History middle section
.history-section-middle {
  @include flex-wrap(wrap, center, center);
  flex-direction: column;
}
//History img
.history-img-harry {
  display: flex;
  flex-direction: column;
}
.history-img-harry:hover {
  cursor: pointer;
  content: "Clique pour en savoir plus !";
  filter: drop-shadow(0 0 0.75rem $secondary-color);

}

//History img animation
.history-img-harry {
  transform: translatey(0);
  animation: float 5s ease-in-out infinite;
  @keyframes float {
    0% {
      transform: translatey(0);
    }

    50% {
      transform: translatey(-1.25rem);
    }

    100% {
      transform: translatey(0);
    }
  }
  @keyframes float2 {
    0% {
      line-height: 1.875rem;
      transform: translatey(0);
    }

    55% {
      transform: translatey(-1.25rem);
    }

    60% {
      line-height: 0.625rem;
    }

    100% {
      line-height: 1.875rem;
      transform: translatey(0);
    }
  }
}

//History bubble
.history-bubble {
  width: 25rem;
  @include media(mobile) {
    width: 10rem;
    display: flex;
    align-items: center;
  }
}

.history-bubble p {
  transform: translatey(0);
  animation: float 5s ease-in-out infinite;
  //mix-blend-mode: multiply;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.188rem;
  color: $color-brown;
  background-color: $secondary-color;
  padding: 3.125rem;
  border-radius: 0.688rem;
  position: relative;
  box-shadow: 1.25rem 1.25rem rgba($primary-color, 0.7);
}
//Bottom of the bubble
.history-rulescard-section :after {
  transform: translatey(0);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  -webkit-text-fill-color: rgba($secondary-color, 0.9);
  text-shadow: 1.375rem 1.375rem rgba($primary-color, 0.8);
  text-align: left;
  font-size: 3.438rem;
  width: 3.438rem;
  height: 0.688rem;
  line-height: 1.875rem;
  border-radius: 0.688rem;
  background-color: rgba($secondary-color, 0.8);
  position: absolute;
  display: block;
  bottom: -1.875rem;
  left: 0;
  box-shadow: 1.375rem 1.375rem rgba($primary-color, 0.7);
  z-index: -2;
}

//Bubble animation
@keyframes float {
  0% {
    transform: translatey(0);
  }

  50% {
    transform: translatey(-1.25rem);
  }

  100% {
    transform: translatey(0);
  }
}
@keyframes float2 {
  0% {
    line-height: 1.875rem;
    transform: translatey(0);
  }

  55% {
    transform: translatey(-1.25rem);
  }

  60% {
    line-height: 0.625rem;
  }

  100% {
    line-height: 1.875rem;
    transform: translatey(0);
  }
}

//OUTFITS
.history-houses-filter {
  padding-top: 1 rem;
  @include flex-wrap(wrap, center, center);
}

.history-houses-list {
  @include flex-wrap(wrap, center, center);
}

.house-item {
  height: 32rem;

}

.house-image {
  width: 50rem;
  border: 0.1rem double $primary-color;
  border-radius: 0.5rem;
  margin: 1rem;
}

.history-house-filter-text {
  margin: 2rem;
  @include flex-wrap(wrap, center, center);
  flex-direction: column;
}

.history-p {
  padding: 1rem;
}

#house-input {
  border: 1px solid $primary-color;
  text-align: center;
}

//OUTFITS : CARDS
.house-card {
  @include flex-wrap(nowrap, center);
  flex-direction: column;
  border: 1px solid rgba($primary-color, 0.7);
  width: 15rem;
  height: 17rem;
  background-color: rgba($primary-color, 0.9);
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
  bottom: 18.75rem;
  right: 2rem;

  h5 {
    color: black;
    font-size: 1rem;
    letter-spacing: 0.15rem;
  }

  h5:not(:nth-child(4)) {
    border-bottom: 1px solid $secondary-color;
  }

  p {
    color: $tertiary-color;
    font-weight: bold;
    letter-spacing: 0.20rem;
  }
}
