.page-players {
  background-image: url('/public/hogwarts-background.jpg');
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

.card-section-players {
  @include flex-wrap(wrap, center);
  gap: 2rem;
}