.footer-container {
  padding-top: 2rem;
  text-align: left;

  .footer-end {
    text-align: center;
    font-size: 0.95rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .footer-titles {
    letter-spacing: 0.07rem;
    padding-top: 1rem;
    margin: 0;
    text-align: left;
  }
  .footer-subtitles {
    letter-spacing: 0.1rem;
    padding-top: 0.9rem;
  }
}

.footer-columns {
  display: flex;
  flex-direction: column;
  @include media(tablet) {
    flex-direction: row;
  }
}

.footer-medias {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 50%;
}

.footer-columns-model {
  display: flex;
  flex-direction: column;
  min-width: 17rem;
  margin: 1rem;
  gap: 0.5rem;
  img {
    width: 3rem;
  }
}
.footer-li {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}
.footer-texte {
  font-weight: 300;
  letter-spacing: 0.08rem;
  line-height: 1.4rem;
}

// pictos dorés
.footer-pictos-gold {
    color: $primary-color;
    font-size: 2rem;
    padding: 0rem 0.5rem;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 900px) {
  .footer-columns-model {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    max-width: 29.375rem;
  }
}