.navbar {
  @include flex-wrap(nowrap, space-between, center);
  z-index: 9999;
  @include media(desktop) {
    display: unset;
  }
  article {
    @include flex-wrap(nowrap, center, center);
    h3 {
      color: white;
    }
  }
  figure {
    width: 4rem;
    margin: 1rem;
    img {
      width: 100%;
    }
  }
}

.p-menubar {
  z-index: 9999;
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 0;
  justify-content: flex-end;
  text-transform: uppercase;
  width: 100%;
  @include media(desktop) {
    width: 70%;
    border-bottom: 0.07rem solid white;
    margin: auto;
    justify-content: center;
  }
  .p-menubar-root-list {
    gap: 2rem;
    background: $tertiary-color;
    z-index: 9999;
    @include media(desktop) {
      background-color: unset;
    }
  }
  li {
    padding: 0rem 2rem;
  }
  .p-menubar-button:hover {
    background: transparent;
  }
  .p-menubar-button:focus {
    box-shadow: none;
  }
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-text {
  color: white;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:not(.p-disabled):hover {
  background: transparent;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link:not(.p-disabled):hover
  .p-menuitem-text {
  color: $primary-color;
}

.pi {
  color: $primary-color;
  @include headingstyle(light, h1);
}