// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.top-button-container {
  position: fixed;
  @include media(tablet) {
    bottom: 6rem;
    right: 3rem;
  }
  bottom: 2rem;
  right: 1rem;
  z-index: 100;
  .top-button {
    border: 0.1rem solid $primary-color;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    background: $tertiary-color;
    @include flex-wrap(nowrap, center, center);
    .up-arrow {
      bottom: 1px;
      position: absolute;
    }
    img {
      width: 2.5rem;
      animation: MoveUpDown 1s linear infinite;
      position: absolute;
    }
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 32%;
  }
  50% {
    bottom: 38%;
  }
}
