.card {
  width: 15rem;
  padding: 0.5rem;
  position: relative;
  display: grid;
  overflow: hidden;
  background: $secondary-color;
  justify-content: center;
  transition: 0.2s ease;
  @include media(desktop) {
    &:hover {
      transform: translateY(-0.4rem);
    }
  }
  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    justify-self: center;
    align-self: center;
    width: 95%;
    height: 95%;
    border: 0.05rem solid $primary-color;
  }
  > * {
    grid-column: 1 / 1;
    grid-row: 1 / 2;
  }

  .card-player-img {
    width: 11rem;
    height: 17rem;
    overflow: hidden;
    img {
      width: 100%;
      border: 0.1rem solid $primary-color;
    }
  }

  .card-player {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    transition: 0.5s ease;
    background: $secondary-color;
    &.active {
      height: 60%;
      transition: height 0.5s ease-in-out;
      background: rgba($color: $secondary-color, $alpha: 0.7);
    }
  }

  .card-player-text {
    background: rgba($color: $secondary-color, $alpha: 0.7);
    width: 100%;
    padding-top: 0.7rem;
  }

  .card-player-number {
    @include headingstyle(600, h2);
    position: absolute;
    left: 10%;
    padding-top: 1.8%;
  }

  .card-player-name {
    font-weight: map-get($map: $fontweights, $key: bold);
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
    margin: 1rem 1rem 0 1rem;
    li {
      list-style-type: none;
      div {
        @include flex-wrap(wrap, center, center);
        p:nth-child(3) {
          font-size: map-get($map: $fontsizes, $key: small);
        }
      }
      &:nth-of-type(4) {
        grid-column: 1 / -1;
        div {
          flex-direction: column;
          figure {
            width: 5rem;
            max-height: 2rem;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .card-picto {
    width: 1rem;
    max-height: 1rem;
    margin: 0;
    img {
      width: 100%;
    }
  }
}

.card-section {
  padding-bottom: 4rem;
  h3 {
    padding: 0.5rem;
  }
}
