/* evenements */

/* == TITLES == */

.home-titles {
  padding-top: 1.25rem;
}
.home-subtitles {
  color: #ba9100;
  font-size: 1.3rem;
  padding-top: 0.5rem;
  margin: 1.25rem;
  text-align: center;
}
.home-subtitles2 {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  padding: 0;
}

.events-cards {
  @include flex-wrap(wrap, center);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.625rem;
  gap: 1.5rem;
  @include media(desktop) {
    flex-direction: row;
    padding-left: 2.5rem;
  }

  .events-cards-actu {
    border-color: 0.125rem double $primary-color;
    border: 0.125rem solid #ba9100;
    border-radius: 0.75rem;
    padding: 0.8rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    width: 20rem;
    text-align: center;
    @include media(tablet) {
      width: 27rem;
    }
  }
}

/* == VIDEO == */

.events-video-resize {
  width: 85%;
  height: 85%;
  border: 0.1em double $primary-color;
}
