/* == PRESENTATION == */

.presentation-container {
    display: block;
    background-color: #0A0A1E;
    text-align: center;
  }
  
  .bienvenue {
    color: #BA9100;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    padding-top: 1.25rem;
  }
  
  .presentation {
    color: #ffffff;
    font-size: 1.05rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
    line-height: 1.3rem;
    padding-left: 3.75rem;
    padding-right: 3.75rem;
    padding-bottom: 0.625rem;
  }
  
  .presentation-sliders {
    background-color: #0A0A1E;
    padding: 10px;
  }
  
  .linkme {
    color: #c79c00;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .linkme:hover {
    color: aqua;
  }