.rulescard-card {
  padding: 5rem;
  @include flex-wrap(wrap, flex-start, center);
}

.rulescard-body {
  display: flex;
  align-items: center;
}

.rulescard-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.rulescard-description {
  color: $primary-color;
  width: 20rem;
  padding-left: 3rem;

  @include media(mobile) {
    width: 10rem
  }

}
