//Disposition en 2 colonnes
.history-rulescard-section {
  display: flex;
  justify-content: space-between;
}

//Colonne numéro 2 avec cartes en "miroir"
.history-rulescard-section-group2 .rulescard-body {
  flex-direction: row-reverse;
}

//Style des cartes
.rulescard-card {
  padding: 5rem;
  @include flex-wrap(wrap, flex-start, center);
}

.rulescard-body {
  display: flex;
  align-items: center;
}

.rulescard-img {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
}

.rulescard-description {
  color: $primary-color;
  width: 20rem;
  padding-left: 3rem;

  @include media(mobile) {
    width: 10rem
  }
}

.history-rulescard-section-group2 .rulescard-description {
  padding-right: 3rem;
  width: 25rem;

  @include media(mobile) {
    width: 20rem
  }
}
