.searchbar-container {
  @include flex-wrap(nowrap, center);
  div {
    z-index: 5;
    input {
      border: 0.2rem;
      border-radius: 10rem;
      padding: 0.5rem 1rem;
      width: 15rem;
      border: 0.1rem solid $primary-color;
    }
  }
}
