.timeline-title {
  text-shadow: none; // suppression du comportement défaut non-adapté ici
  color: $tertiary-color;
}

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
  color: $primary-color;
  font-size: 1.4rem !important;
}

.vertical-timeline--two-columns .vertical-timeline-element-content{
  background-color: $secondary-color;
  border: 0.1rem solid $primary-color;
  box-shadow: none;
}

#timeline-description {
  color: black;
}

// class span générée dans le DOM
.vertical-timeline-element-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
