.trainingplan {
  @include flex-wrap(wrap, center);
  text-align: center;
}

.trainingplan-column {
  width: 18rem;
  border-collapse: collapse;
  @include media(desktop) {
    width: 11rem;
  }
  tr {
    height: 4rem;
    padding: 0.5rem;
    border: 0.1rem solid $primary-color;
    @include flex-wrap(wrap, center, center);
    .training-time {
      font-weight: 500;
      @include media(desktop) {
        margin-bottom: -0.5rem;
      }
    }
  }
}
