// main page : 1ere partie sous la navbar
  
.club {
    display: block;
    background-color: #0A0A1E;
    text-align: center;
    justify-content: space-between;
    min-height: 13.125rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.875rem;
    background-image: url(./components/img/bg-home-blue.jpg);
    object-fit: cover;
    background-size: 120vw 120vh;
    background-repeat: no-repeat;
    position: relative;
  }
  
  .img {
    object-fit: cover;
    object-position: center;
  }
  
  .club-cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 1.125rem;
  }
  
  .home-heading {
    font-size: 2.4rem;
    color: #ffffff;
    font-weight: 500;
    line-height: 2.4rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .evenements {
    /*
    background-color: #0A0A1E;*/
    border-color: 0.125rem solid #BA9100;
    border: 0.125rem double #BA9100;
    border-radius: 0.75rem;
    padding: 0.9rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    width: 25rem;
    height: 7.5rem;
    text-align: center;
    color: #BA9100;
  }
  /*
  .evenements:hover {
    background-color: #0A0A1E;
    opacity: 0.9;
    border-color: 2px solid #997800;
    border: 1px solid #997800;
    border-radius: 12px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    width: 250px;
    height: 120px;
    text-align: center;
    color: #BA9100;
  }*/
  
  .home-membres {
    border-color: 0.125rem solid #BA9100;
    border: 0.125rem solid #BA9100;
    border-radius: 0.75rem;
    padding: 0.9rem;
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.2rem;
    box-sizing: border-box;
    width: 25rem;
    height: 7.5rem;
    text-align: center;
    color: #BA9100;
  }

  /* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 900px) {
    .club-cards {
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }