@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/typography';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/image-text-blocks',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/trainingplan',
  'components/card',
  'components/ranking',
  'components/pageframes',
  'components/inscriptionForm',
  'components/timeline';

// 6. Page-specific styles
@import
  'pages/home',
  'pages/players';

// 7. Themes
@import
  'themes/default';
