// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: $tertiary-color;
}

.container {
  max-width: 90%;
  margin: auto;
}

p {
  display: block;
  margin: 0.2rem;
}

a {
  text-decoration: none;
}