// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// fonts
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$heading-font-stack: 'Poppins', sans-serif;

// font size
$fontsizes: (
    "h1": 2rem,
    "h2": 1.8rem,
    "h3": 1.4rem,
    "h4": 1.2rem,
    "h5": 1.1rem,
    "p": 1rem,
    "small": 0.8rem,
  );
$fontweights: (
    "extra-bold": 500,
    "bold": 400,
    "normal": 300,
    "semi-light": 200,
    "light": 100,
  );

// colors
$primary-color: #D3A500;
$secondary-color: #FAF6F0;
$tertiary-color: rgb(22, 1, 59);
